* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

btn-purple {
  
  color: #fff;
  background-color: rgb(192, 192, 192);
  border-color: #343a40;
}

.hide { display: none;}